@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 32px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/

.site {
  flex-direction: row;
  height: 100vh;
}

.site__main {
  margin-right: 30%;
  width: 70%;
  flex: 1 auto;
  flex-direction: row;
}

.site__left-sidebar {
  position: fixed;
  left: 0;
  width: 15%;

  height: 100%;
}

.site__content {
  width: 80%;
  margin-left: 20%;
  flex: 1 auto;
}

.products {
  background-color: #f8aeb1;
}

.site__right-sidebar {
  position: fixed;
  right: 0;
  width: 30%;
  flex: 1 auto;
  height: 100%;
  flex-direction: column;
}

.cart {
  flex: 1;
}

.products{
  flex-direction: row;
  flex-wrap: wrap;
}
.product {
  width: 50%;
  height: 250px;
  background-color: #b0f9b3;
  margin-bottom: 20px;
}


.cart {
  /*overflow-y: scroll;*/
  overflow-y: scroll;
}
.cart__title {
  position: fixed;
  top: 0px;
}
.cart__content{
  margin-top: 40px;
}

.cart-item {
  height: 150px;
  margin-bottom: 20px;
  background: rgba(0,255,0,0.3);
}

.checkout {
  height: 300px;
  background: rgba(0,0,255,0.3);
}









@media all and (min-width: 1400px){
  .site__main{
    margin-right: 20%;
    margin-left: 5%;
    width: 80%;
  }
  h2 {
    font-size: 48px;
    font-weight: 100;
  }

  .site__right-sidebar{
    width: 20%;
  }
}

@media all and (max-width: 650px){
  .site__main{
    margin-right: 40%;
    width: 60%;
  }
  h2 {
    font-size: 20px;
  }
  .site__right-sidebar{
    width: 40%;
  }
}

